@keyframes mianimacion {
    0% {
        background:$back-blanco;
        left: 125px;
        overflow: hidden;
    }
    100% {
        background:$back-blanco;
        left: 1250px;
        overflow: hidden;

    }
}
#milogo {
    width: 150px;
    height: 150px;
    animation-name: mianimacion;
    animation-duration: 10s;
    position: relative;
    animation-direction: reverse;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    margin-top:$padd;
    overflow: hidden;

}
.gridcontainer
{
    overflow: hidden;
}